{% extends "entidades/index.html" %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
<span class="site-heading-upper text-primary mb-3">Ac Terapeutico</span>
</h1>
{% endblock titulo %}



{% block contenido %}
<section id="acompanamiento-terapeutico">
    <h2>Acompañamiento Terapéutico</h2>
    <p>En mi espacio terapéutico, te acompaño en un viaje de autodescubrimiento y transformación, donde la mente y el cuerpo se unen para alcanzar un estado de mayor bienestar.</p>
  
    <p>A través de un enfoque integral que integra la biopsicología, te guiaré en la comprensión de tus emociones, pensamientos y comportamientos, y te brindaré herramientas para gestionarlas de manera efectiva.</p>
  
    <p>Juntos exploraremos las raíces de tus inquietudes y trabajaremos en el desarrollo de tu potencial para alcanzar una vida más plena y satisfactoria.</p>
  
    <h3>¿Qué puedes esperar de mi acompañamiento?</h3>
  
    <ul>
      <li>Un espacio seguro y de confianza para expresarte libremente.</li>
      <li>Una escucha atenta y empática.</li>
      <li>Un enfoque centrado en tus necesidades e intereses específicos.</li>
      <li>Herramientas para comprender y gestionar tus emociones.</li>
      <li>Estrategias para mejorar tu autoestima y autoconfianza.</li>
      <li>Un camino hacia el autoconocimiento y la transformación personal.</li>
    </ul>
  
    <p>Si estás buscando un espacio donde ser escuchado/a y apoyado/a en tu camino hacia el bienestar, te invito a contactarme.</p>
  
    <a href="" class="btn">Reservar sesión</a>
  </section>
{% endblock contenido %}
    

    
