{% extends "entidades/index.html" %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
<span class="site-heading-upper text-primary mb-3">Alumnos</span>
</h1>
{% endblock titulo %}



{% block contenido %}

<table>
  <tr>
    <td width="200"><h2>Alumno</h2></td>
    <td>
      <a
        href="{% url 'alumnoCreate' %}"
        class="btn btn-primary btn-sm"
        ><i class="fa fa-plus fa-lg" title="Crear"></i>
      </a>
    </td>
  </tr>
</table>

<form action="{% url 'buscar' %}" method="get" class="d-flex justify-content-end mb-3">
  <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar alumno">
  <button type="submit" class="btn btn-primary">
    <i class="fa fa-search"></i> Buscar
  </button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>