{% extends "entidades/index.html" %}



{% block titulo %}
<h1 class="mb-5">Estilos</h1>
{% endblock titulo %}



{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Estilo</h2></td>
        <td>
            <a
              href="{% url 'estiloCreate' %}"
              class="btn btn-primary btn-sm"
              ><i class="fa fa-plus fa-lg" title="Crear"></i>
            </a>
        </td>
    </tr>
</table>
    

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estilo</th>
            <th>Horarios</th>
            <th>Acciones</th>          
        </tr>
    </thead>    
    <tbody>
    {% for e in estilo_list %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.estilo }}</td>
            <td>{{ e.horarios }}</td>
            <td>
                <a
                  href="{% url 'estiloUpdate' e.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'estiloDelete' e.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>"        
                </a>    
            </td>    
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    